.form-control:focus,
.custom-select:focus {
	border-color: #3bb18f;
	box-shadow: none;
}
.border-gray {
	border-bottom: solid 1px #ddd;
}
.u-basket__product-remove {
	position: absolute;
	top: 1.42857rem;
	right: 1.42857rem;
	padding: 0;
	margin: 0;
	font-size: 1.5rem;
	font-family: inherit;
	font-weight: 700;
	color: #000;
	border: none;
	background-color: transparent;
	cursor: pointer;
	opacity: 0.2;
}
.pb-10 {
	padding-bottom: 0.71429rem !important;
}
.pa-0 {
	padding: 0 !important;
	padding-bottom: 0px;
}
.width-70 {
	width: 70px !important;
}
.font-weight-500 {
	font-weight: 500 !important;
}
.width-110 {
	width: 110px !important;
}
.width-150 {
	width: 150px !important;
}
.py-10 {
	padding-top: 0.71429rem !important;
	padding-bottom: 0.71429rem !important;
}
.color-gray-dark {
	color: #555 !important;
}
.color-gray-dark-v4 {
	color: #777 !important;
}
.py-15 {
	padding-top: 1.07143rem !important;
	padding-bottom: 1.07143rem !important;
}
.px-40 {
	padding-left: 2.85714rem !important;
	padding-right: 2.85714rem !important;
}
.font-size-13 {
	font-size: 1rem !important;
	font-weight: 500;
}
